Repository CS3219-AY2425S1/cs3219-ay2425s1-project-g03, pull requests merged in 2024-09, with the labels that each got.

#4 Initialize question service
  .env.sample
  .github/workflows/tests.yml
  docker-compose.yml
  services/question/.env.sample
  services/question/.gitignore
  services/question/.prettierignore
  services/question/.prettierrc.json
  services/question/Dockerfile
  services/question/eslint.config.mjs
  services/question/package-lock.json
  services/question/package.json
  services/question/src/app.ts
  services/question/src/controllers/index.ts
  services/question/src/controllers/questionController.ts
  services/question/src/data/questions.json
  services/question/src/index.ts
  services/question/src/models/index.ts
  services/question/src/models/questionModel.ts
  services/question/src/routes/index.ts
  services/question/src/routes/questionRoutes.ts
  services/question/src/utils/data.ts
  services/question/tsconfig.json
Labels: service.Question, priority.High

#27 Add PrimeNG
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/styles.css
Labels: frontend, priority.High

#28 Add PrimeFlex Utility Companion
  .gitignore
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/app.config.ts
  frontend/src/styles.css
Labels: frontend, priority.Medium

#33 Update QuestionService Endpoints and Documentation
  .gitignore
  README.md
  docker-compose.yml
  services/question/README.md
  services/question/eslint.config.mjs
  services/question/src/app.ts
  services/question/src/controllers/questionController.ts
  services/question/src/index.ts
  services/question/src/init-mongo/init-mongo.js
  services/question/src/models/counterModel.ts
  services/question/src/models/index.ts
  services/question/src/models/questionModel.ts
  services/question/src/routes/questionRoutes.ts
  services/question/src/utils/data.ts
  services/question/src/utils/helpers.ts
  services/question/src/utils/sequence.ts
Labels: service.Question, priority.Medium

#32 Add Login and Registration Pages
  frontend/src/app/account/_validators/invalid-password.validator.ts
  frontend/src/app/account/_validators/invalid-username.validator.ts
  frontend/src/app/account/_validators/mismatch-password.validator.ts
  frontend/src/app/account/_validators/weak-password.validator.ts
  frontend/src/app/account/account.component.css
  frontend/src/app/account/account.component.ts
  frontend/src/app/account/account.module.ts
  frontend/src/app/account/layout.component.html
  frontend/src/app/account/layout.component.ts
  frontend/src/app/account/login.component.html
  frontend/src/app/account/login.component.spec.ts
  frontend/src/app/account/login.component.ts
  frontend/src/app/account/register.component.html
  frontend/src/app/account/register.component.spec.ts
  frontend/src/app/account/register.component.ts
  frontend/src/app/app.routes.ts
  frontend/src/styles.css
Labels: frontend, priority.Medium

#39 Init user service
  .env.sample
  .gitignore
  docker-compose.yml
  services/user/.env.sample
  services/user/Dockerfile
  services/user/MongoDBSetup.md
  services/user/README.md
  services/user/package-lock.json
  services/user/package.json
  services/user/src/GuideAssets/AddIPAddress.png
  services/user/src/GuideAssets/ConnectCluster.png
  services/user/src/GuideAssets/ConnectionString.png
  services/user/src/GuideAssets/Creation.png
  services/user/src/GuideAssets/DriverSelection.png
  services/user/src/GuideAssets/IPWhitelisting.png
  services/user/src/GuideAssets/Network.png
  services/user/src/GuideAssets/Security.png
  services/user/src/GuideAssets/Selection.png
  services/user/src/GuideAssets/Selection1.png
  services/user/src/GuideAssets/Selection2.png
  services/user/src/GuideAssets/Selection3.png
  services/user/src/GuideAssets/Selection4.png
  services/user/src/GuideAssets/SidePane.png
  services/user/src/controller/auth-controller.js
  services/user/src/controller/user-controller.js
  services/user/src/index.js
  services/user/src/middleware/basic-access-control.js
  services/user/src/model/repository.js
  services/user/src/model/user-model.js
  services/user/src/model/user-orm.js
  services/user/src/routes/auth-routes.js
  services/user/src/routes/user-routes.js
  services/user/src/server.js
  services/user/tests/endpointTests/basicEndpointTesting.spec.ts
Labels: service.User, priority.High

#40 Minor Changes to Question Service Backend
  services/question/README.md
  services/question/eslint.config.mjs
  services/question/src/controllers/questionController.ts
Labels: service.Question, priority.Medium

#30 Question SPA
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/_services/question.service.spec.ts
  frontend/src/_services/question.service.ts
  frontend/src/app/api.config.ts
  frontend/src/app/app.config.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/questions/column.model.ts
  frontend/src/app/questions/difficulty-levels.enum.ts
  frontend/src/app/questions/difficulty.model.ts
  frontend/src/app/questions/question-dialog.component.css
  frontend/src/app/questions/question-dialog.component.html
  frontend/src/app/questions/question-dialog.component.spec.ts
  frontend/src/app/questions/question-dialog.component.ts
  frontend/src/app/questions/question.model.ts
  frontend/src/app/questions/questions.component.css
  frontend/src/app/questions/questions.component.html
  frontend/src/app/questions/questions.component.spec.ts
  frontend/src/app/questions/questions.component.ts
  frontend/src/app/questions/topic.model.ts
  frontend/src/styles.css
  package-lock.json
Labels: frontend, priority.High

#43 Improve README and docker compose files
  README.md
  compose.dev.yml
  compose.yml
  services/question/package.json
  services/question/tsconfig.json
  services/user/.env.sample
  services/user/Dockerfile
  services/user/README.md
  services/user/package.json
  services/user/src/server.js
Labels: documentation, devops, priority.High

#45 Convert user service to typescript
  .github/workflows/tests.yml
  services/user/.gitignore
  services/user/.prettierignore
  services/user/.prettierrc.json
  services/user/GuideAssets/AddIPAddress.png
  services/user/GuideAssets/ConnectCluster.png
  services/user/GuideAssets/ConnectionString.png
  services/user/GuideAssets/Creation.png
  services/user/GuideAssets/DriverSelection.png
  services/user/GuideAssets/IPWhitelisting.png
  services/user/GuideAssets/Network.png
  services/user/GuideAssets/Security.png
  services/user/GuideAssets/Selection.png
  services/user/GuideAssets/Selection1.png
  services/user/GuideAssets/Selection2.png
  services/user/GuideAssets/Selection3.png
  services/user/GuideAssets/Selection4.png
  services/user/GuideAssets/SidePane.png
  services/user/eslint.config.mjs
  services/user/package-lock.json
  services/user/package.json
  services/user/src/controller/auth-controller.js
  services/user/src/controller/auth-controller.ts
  services/user/src/controller/user-controller.js
  services/user/src/controller/user-controller.ts
  services/user/src/index.js
  services/user/src/index.ts
  services/user/src/middleware/basic-access-control.js
  services/user/src/middleware/basic-access-control.ts
  services/user/src/model/repository.js
  services/user/src/model/repository.ts
  services/user/src/model/user-model.js
  services/user/src/model/user-model.ts
  services/user/src/model/user-orm.js
  services/user/src/routes/auth-routes.js
  services/user/src/routes/auth-routes.ts
  services/user/src/routes/user-routes.js
  services/user/src/routes/user-routes.ts
  services/user/src/server.js
  services/user/src/server.ts
  services/user/src/types/custom.ts
  services/user/src/types/express/index.d.ts
  services/user/src/utils/helper.ts
  services/user/tests/endpointTests/basicEndpointTesting.spec.ts
  services/user/tsconfig.json
Labels: service.User, priority.Low
