Repository CS3219-AY2425S1/cs3219-ay2425s1-project-g03, pull requests merged in 2024-11, with the labels that each got.

#68 Ensure codebase is production-ready
  compose.yml
  frontend/angular.json
  frontend/src/_interceptors/jwt.interceptor.spec.ts
  frontend/src/_services/api.service.ts
  frontend/src/_services/question.service.ts
  frontend/src/app/api.config.ts
  frontend/src/app/collaboration/editor/editor.component.ts
  frontend/src/environments/environment.development.ts
  frontend/src/environments/environment.ts
  nginx/default.conf
  services/collaboration/README.md
  services/collaboration/package.json
  services/collaboration/src/app.ts
  services/collaboration/src/controllers/index.ts
  services/collaboration/src/server.ts
  services/match/README.md
  services/match/package.json
  services/match/src/app.ts
  services/match/src/controllers/index.ts
  services/match/src/server.ts
  services/question/README.md
  services/question/package.json
  services/question/src/app.ts
  services/question/src/controllers/index.ts
  services/question/src/index.ts
  services/question/src/server.ts
  services/user/README.md
  services/user/package-lock.json
  services/user/package.json
  services/user/src/app.ts
  services/user/src/server.ts
Labels: devops, priority.High

#73 Fix questions routes
  frontend/src/_services/question.service.ts
  services/question/README.md
  services/question/src/app.ts
Labels: bug

#58 Role based authorization spa
  frontend/package-lock.json
  frontend/package.json
  frontend/src/_interceptors/error.interceptor.ts
  frontend/src/_models/user.service.response.interface.ts
  frontend/src/_services/authentication.service.ts
  frontend/src/app/navigation-bar/navigation-bar.component.html
  frontend/src/app/questions/questions.component.css
  frontend/src/app/questions/questions.component.html
  frontend/src/app/questions/questions.component.ts
Labels: frontend, priority.Medium

#76 Collab enhancement + Chat + Homepage
  compose.dev.yml
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/pair-programming.png
  frontend/src/_services/collab.guard.service.ts
  frontend/src/_services/collab.service.ts
  frontend/src/_services/toast.service.ts
  frontend/src/app/account/login.component.ts
  frontend/src/app/account/register.component.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/collaboration/chat-box/chat-box.component.css
  frontend/src/app/collaboration/chat-box/chat-box.component.html
  frontend/src/app/collaboration/chat-box/chat-box.component.spec.ts
  frontend/src/app/collaboration/chat-box/chat-box.component.ts
  frontend/src/app/collaboration/collab.model.ts
  frontend/src/app/collaboration/collaboration.component.css
  frontend/src/app/collaboration/collaboration.component.html
  frontend/src/app/collaboration/collaboration.component.ts
  frontend/src/app/collaboration/editor/editor.component.html
  frontend/src/app/collaboration/editor/editor.component.ts
  frontend/src/app/collaboration/editor/languages.ts
  frontend/src/app/collaboration/forfeit-dialog/forfeit-dialog.component.ts
  frontend/src/app/collaboration/question-box/question-box.component.html
  frontend/src/app/collaboration/submit-dialog/submit-dialog.component.ts
  frontend/src/app/collaboration/websocket-code.enum.ts
  frontend/src/app/home/active-sessions.model.ts
  frontend/src/app/home/home.component.css
  frontend/src/app/home/home.component.html
  frontend/src/app/home/home.component.spec.ts
  frontend/src/app/home/home.component.ts
  frontend/src/app/navigation-bar/navigation-bar.component.html
  frontend/src/app/navigation-bar/navigation-bar.component.ts
  package-lock.json
  services/collaboration/README.md
  services/collaboration/src/controllers/roomController.ts
  services/collaboration/src/events/broker.ts
  services/collaboration/src/middleware/request.ts
  services/collaboration/src/routes/roomRoutes.ts
  services/collaboration/src/services/mongodbService.ts
  services/collaboration/src/services/webSocketService.ts
  services/match/src/events/broker.ts
  services/question/src/events/broker.ts
Labels: nice-to-have, service.Chat, frontend, priority.High

#69 History Service
  .env.sample
  .github/workflows/tests.yml
  compose.dev.yml
  compose.yml
  nginx/default.conf
  services/collaboration/README.md
  services/collaboration/src/controllers/roomController.ts
  services/collaboration/src/events/consumer.ts
  services/collaboration/src/events/producer.ts
  services/collaboration/src/events/queues.ts
  services/collaboration/src/types/message.ts
  services/history/.env.sample
  services/history/.gitignore
  services/history/.prettierignore
  services/history/.prettierrc.json
  services/history/Dockerfile
  services/history/README.md
  services/history/eslint.config.mjs
  services/history/package-lock.json
  services/history/package.json
  services/history/src/app.ts
  services/history/src/config.ts
  services/history/src/controllers/historyController.ts
  services/history/src/controllers/index.ts
  services/history/src/events/broker.ts
  services/history/src/events/consumer.ts
  services/history/src/events/queues.ts
  services/history/src/index.ts
  services/history/src/middleware/jwt.ts
  services/history/src/models/historyModel.ts
  services/history/src/models/repository.ts
  services/history/src/routes/historyRoutes.ts
  services/history/src/routes/index.ts
  services/history/src/types/express.d.ts
  services/history/src/types/message.ts
  services/history/src/types/request.ts
  services/history/src/utils/responses.ts
  services/history/tests/controllers/historyController.spec.ts
  services/history/tests/fixtures.ts
  services/history/tests/models/repository.spec.ts
  services/history/tsconfig.json
Labels: nice-to-have, service.History, priority.High

#66 Create GitHub Actions for auto deployment to AWS
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: devops, priority.Medium

#79 Add validation for registration details on user service
  services/user/src/controller/user-controller.ts
  services/user/src/types/custom.ts
Labels: service.User, priority.Medium

#81 Bug Fix for Submit Button and Forfeit
  frontend/src/app/collaboration/editor/editor.component.ts
  frontend/src/app/collaboration/submit-dialog/submit-dialog.component.ts
  services/collaboration/src/controllers/roomController.ts
Labels: bug

#86 Minor Fix on the Collaboration Service
  .env.sample
  services/collaboration/src/controllers/roomController.ts
  services/collaboration/src/services/mongodbService.ts
  services/collaboration/src/services/webSocketService.ts
Labels: bug, service.Collaboration, priority.Medium

#85 Database per service pattern
  .env.sample
  compose.yml
  services/collaboration/.env.sample
  services/collaboration/README.md
  services/collaboration/src/services/mongodbService.ts
  services/history/.env.sample
  services/match/.env.sample
  services/match/src/config.ts
  services/match/src/models/repository.ts
  services/question/.env.sample
  services/question/src/config.ts
  services/question/src/init-mongo/init-mongo.js
  services/question/src/models/index.ts
  services/user/.env.sample
  services/user/src/config.ts
  services/user/src/model/repository.ts
Labels: priority.Medium, database

#89 Add backend deploy script
  devops/README.md
  devops/deploy-backend.sh
Labels: devops, priority.Medium

#90 Modify history service to use port 8085
  README.md
  compose.dev.yml
  nginx/default.conf
  services/history/.env.sample
  services/history/Dockerfile
  services/history/README.md
  services/history/src/config.ts
Labels: devops, priority.Medium

#92 Fix bug for collab
  frontend/src/app/collaboration/forfeit-dialog/forfeit-dialog.component.ts
  frontend/src/app/collaboration/submit-dialog/submit-dialog.component.html
  frontend/src/app/collaboration/submit-dialog/submit-dialog.component.ts
  services/collaboration/README.md
  services/collaboration/src/controllers/roomController.ts
  services/collaboration/src/controllers/types.ts
  services/collaboration/src/events/consumer.ts
  services/collaboration/src/events/producer.ts
  services/collaboration/src/events/queues.ts
  services/collaboration/src/routes/index.ts
  services/collaboration/src/services/mongodbService.ts
  services/collaboration/src/services/webSocketService.ts
  services/collaboration/src/types/collab.ts
  services/collaboration/src/utils/helper.ts
Labels: bug

#93 Fix font issue
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/navigation-bar/navigation-bar.component.ts
Labels: bug, frontend, priority.Low

#94 Implement responsive design for question page
  frontend/src/app/questions/questions.component.css
  frontend/src/app/questions/questions.component.html
  frontend/src/app/questions/questions.component.ts
Labels: frontend, priority.Low

#80 Profile history pages
  compose.dev.yml
  frontend/src/_services/authentication.service.ts
  frontend/src/_services/form.utils.service.ts
  frontend/src/_services/history.service.ts
  frontend/src/app/account/account.component.ts
  frontend/src/app/account/account.module.ts
  frontend/src/app/account/history/history.component.css
  frontend/src/app/account/history/history.component.html
  frontend/src/app/account/history/history.component.ts
  frontend/src/app/account/history/history.model.ts
  frontend/src/app/account/login/login.component.html
  frontend/src/app/account/login/login.component.spec.ts
  frontend/src/app/account/login/login.component.ts
  frontend/src/app/account/profile/edit-password-dialog/edit-password-dialog.component.css
  frontend/src/app/account/profile/edit-password-dialog/edit-password-dialog.component.html
  frontend/src/app/account/profile/edit-password-dialog/edit-password-dialog.component.spec.ts
  frontend/src/app/account/profile/edit-password-dialog/edit-password-dialog.component.ts
  frontend/src/app/account/profile/edit-profile-dialog/edit-profile-dialog.component.css
  frontend/src/app/account/profile/edit-profile-dialog/edit-profile-dialog.component.html
  frontend/src/app/account/profile/edit-profile-dialog/edit-profile-dialog.component.spec.ts
  frontend/src/app/account/profile/edit-profile-dialog/edit-profile-dialog.component.ts
  frontend/src/app/account/profile/profile.component.css
  frontend/src/app/account/profile/profile.component.html
  frontend/src/app/account/profile/profile.component.ts
  frontend/src/app/account/register/register.component.html
  frontend/src/app/account/register/register.component.spec.ts
  frontend/src/app/account/register/register.component.ts
  frontend/src/app/navigation-bar/navigation-bar.component.ts
  services/collaboration/README.md
  services/collaboration/package-lock.json
  services/collaboration/src/controllers/roomController.ts
  services/collaboration/src/events/producer.ts
  services/collaboration/src/services/mongodbService.ts
  services/collaboration/src/types/message.ts
  services/history/README.md
  services/history/package-lock.json
  services/history/src/events/consumer.ts
  services/history/src/models/historyModel.ts
  services/history/src/models/repository.ts
  services/history/src/types/message.ts
  services/history/tests/fixtures.ts
  services/history/tests/models/repository.spec.ts
  services/user/src/controller/user-controller.ts
  services/user/src/routes/user-routes.ts
  services/user/src/types/custom.ts
Labels: frontend, priority.High

#95 Fix forfeit not retrieving snapshot
  services/collaboration/src/controllers/roomController.ts
Labels: bug

#91 Bug fix for #77
  frontend/src/_services/authentication.service.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
Labels: bug

#98 Add backend validation when updating user and update documentation
  services/user/README.md
  services/user/src/controller/user-controller.ts
  services/user/src/types/custom.ts
Labels: documentation, service.User, priority.Medium

#100 Fix question page error
  frontend/src/app/questions/question-dialog.component.ts
  frontend/src/app/questions/questions.component.html
Labels: bug, frontend
