Repository CS3219-AY2425S1/cs3219-ay2425s1-project-g03, pull requests merged in 2024-10, with the labels that each got.

#49 Improve questions
  frontend/src/_services/question.service.ts
  frontend/src/app/questions/question.model.ts
  frontend/src/app/questions/questions.component.html
  frontend/src/app/questions/questions.component.ts
  services/question/README.md
  services/question/src/controllers/questionController.ts
  services/question/src/routes/questionRoutes.ts
Labels: service.Question, frontend, priority.Low

#53 Dockerize user-db
  .env.sample
  compose.dev.yml
  compose.yml
  services/user/.env.sample
  services/user/src/model/repository.ts
Labels: priority.High

#51 Initialize API gateway
  compose.dev.yml
  compose.yml
  frontend/src/_services/api.service.ts
  frontend/src/_services/question.service.ts
  frontend/src/app/api.config.ts
  nginx/default.conf
Labels: frontend, priority.Medium

#47 Connect frontend with user service
  compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/_interceptors/error.interceptor.ts
  frontend/src/_interceptors/jwt.interceptor.spec.ts
  frontend/src/_interceptors/jwt.interceptor.ts
  frontend/src/_models/user.model.ts
  frontend/src/_models/user.service.model.ts
  frontend/src/_services/auth.guard.service.ts
  frontend/src/_services/authentication.service.ts
  frontend/src/app/account/login.component.html
  frontend/src/app/account/login.component.ts
  frontend/src/app/account/register.component.ts
  frontend/src/app/app.config.ts
  frontend/src/app/app.routes.ts
Labels: service.User, frontend

#48 Add Navigation Bar
  frontend/public/logo.png
  frontend/src/_services/authentication.service.ts
  frontend/src/app/account/layout.component.html
  frontend/src/app/account/login.component.ts
  frontend/src/app/account/register.component.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/navigation-bar/navigation-bar.component.css
  frontend/src/app/navigation-bar/navigation-bar.component.html
  frontend/src/app/navigation-bar/navigation-bar.component.spec.ts
  frontend/src/app/navigation-bar/navigation-bar.component.ts
  frontend/src/app/questions/questions.component.html
  frontend/src/app/questions/questions.component.ts
Labels: frontend, priority.Medium

#44 Add Match Page
  frontend/src/app/app.routes.ts
  frontend/src/app/matching/_validators/has-questions.validator.ts
  frontend/src/app/matching/finding-match/finding-match.component.css
  frontend/src/app/matching/finding-match/finding-match.component.html
  frontend/src/app/matching/finding-match/finding-match.component.spec.ts
  frontend/src/app/matching/finding-match/finding-match.component.ts
  frontend/src/app/matching/matching.component.css
  frontend/src/app/matching/matching.component.html
  frontend/src/app/matching/matching.component.spec.ts
  frontend/src/app/matching/matching.component.ts
  frontend/src/app/matching/retry-matching/retry-matching.component.css
  frontend/src/app/matching/retry-matching/retry-matching.component.html
  frontend/src/app/matching/retry-matching/retry-matching.component.spec.ts
  frontend/src/app/matching/retry-matching/retry-matching.component.ts
  frontend/src/app/matching/user-criteria.model.ts
Labels: frontend, priority.Medium

#57 Enhance Login & Registration Pages
  frontend/src/app/account/_validators/invalid-password.validator.ts
  frontend/src/app/account/_validators/lowercase-password.ts
  frontend/src/app/account/_validators/numeric-password.ts
  frontend/src/app/account/_validators/short-password.ts
  frontend/src/app/account/_validators/special-password.ts
  frontend/src/app/account/_validators/uppercase-password.ts
  frontend/src/app/account/_validators/weak-password.validator.ts
  frontend/src/app/account/account.component.css
  frontend/src/app/account/layout.component.html
  frontend/src/app/account/layout.component.ts
  frontend/src/app/account/login.component.html
  frontend/src/app/account/register.component.html
  frontend/src/app/account/register.component.ts
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/matching/finding-match/finding-match.component.html
  frontend/src/app/navigation-bar/navigation-bar.component.html
  frontend/src/app/navigation-bar/navigation-bar.component.ts
Labels: frontend, priority.Low

#65 Add resizing for navbar
  frontend/src/app/account/account.component.css
  frontend/src/app/matching/matching.component.css
  frontend/src/app/navigation-bar/navigation-bar.component.css
  frontend/src/app/navigation-bar/navigation-bar.component.html
Labels: frontend, priority.Low
